# C
*.o
*.a
*.so
*.exe
*.out
*.dSYM/
*.su
*.gch
*.pch

# VSCode
.vscode/
*.code-workspace

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# Make
*.o
*.a

# Build directories
build/
dist/